In [1]:
def mooon_sun2(x):
    return 0
#이때 함수에 들어가는 x가 parameter이고, moon_sun(3)과 같이 실행시키면 이와 같은 3을 argument라고 함

##### Keyword 방식


##### Positional 방식

- 순서대로 parameter와 짝을 이뤄서 넣는 방법
- 순서가 있기 때문에, 순서를 꼭 맞춰줘야함.

In [2]:
def moon_sun(x,y):
    return x,y #튜플형으로 리턴

In [3]:
moon_sun(1,3) #positional 방식
moon_sun(y=1,x=3) # keyword 방식

(3, 1)

In [8]:
def moon_sun(x,y,*z): #x,y제외한 모든 인수 z로, 그러나 함수의 parameter에서는 *는 무조건 마지막 애만 될수 있음
    return x,y,z

In [14]:
def moon_sun3(x,*y,z): #그러나 예외적으로 *뒤에 애들이 keyword를 받으면 실행가능
    return x,y,z

In [15]:
def moon_sun4(*,x,y): #그렇기 때문에 이런 애들은 keyword로만 받을 수 있음
    return x,y

In [7]:
moon_sun(1,23,4,245,35,346,3,"adf",)

(1, 23, (4, 245, 35, 346, 3, 'adf'))

In [13]:
moon_sun3(1,23,435,6,324,3,43,z = "#@$2")

(1, (23, 435, 6, 324, 3, 43), '#@$2')

In [5]:
a,*b,c=1,2,3,4,5,6,7 #b=1,7제외한 나머지 모든 애

In [17]:
def moon_sun5(x=3,y): # 이거안됨
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-17-bbbc197a9f8e>, line 1)

In [18]:
def moon_sun5(x,y=3): #이렇게 default값은 뒤에것 부터 줄  수 있음
    return x,y

In [19]:
import pandas as pd

In [20]:
pd.read_csv

In [21]:
moon_sun5(7)

(7, 3)

In [25]:
moon_sun5(1,5)#입력을 하면 default값 바뀌어서 들어감

(1, 5)

In [28]:
def moon_sun(x or 3): #parameter에서는 or 못씀
    return x

SyntaxError: invalid syntax (<ipython-input-28-5dae598f1a2f>, line 1)

In [29]:
def moon_sun(x):
    return x

In [30]:
moon_sun(7 or 23) #argument에서는 씀

7

In [34]:
a= input('xxx:')
moon_sun(a or 23)#뭘 입력을 하면 입력한 값, 아니면 23반환

xxx:

23

In [36]:
x,_,_=(2,3,2) #

In [37]:
_ #파이썬은 왼쪽에서 오른쪽 계산, 그래서 _ =3 됐다가 _=2돼서 2나옴

2

In [38]:
def moon_sun(x,*y):
    return x,y

In [39]:
moon_sun(1,232,435,654,234)

(1, (232, 435, 654, 234))

In [40]:
moon_sun(1,(23,234,435,546))

(1, ((23, 234, 435, 546),))

In [41]:
moon_sun(1,*(23,234,435,546))

(1, (23, 234, 435, 546))

##### container
- list, set, tuple, dictionary, frozenset

- 이중 sequence가 아닌애는 set, frozenset, dictionary

- sequence 인데 contatiner가 아닌 애는, string 계열 3개, range

In [42]:
moon_sun(1,*[23,234,435,546])

(1, (23, 234, 435, 546))

In [43]:
moon_sun(1,*{23,234,435,546})

(1, (234, 435, 546, 23))

In [44]:
moon_sun(1,*"aaa") # *뒤에는 container sequence 모두 들어감. 예외 존재, dictionary 안됨

(1, ('a', 'a', 'a'))

In [46]:
a=list("aaaaa")

In [47]:
a

['a', 'a', 'a', 'a', 'a']

In [48]:
def moon_sun(x,**z):
    return x,z

In [49]:
moon_sun(1,x=2,y=3) #x이미 1인데, 2또 넣으니까 안되는거

TypeError: moon_sun() got multiple values for argument 'x'

In [50]:
moon_sun(1,a=2,y=3) # 이경우는 뒤에 y 값이 dictionary로 들어가는거. 내마음대로 집어넣기!

(1, {'a': 2, 'y': 3})

In [51]:
def moon_sun2(x,**z):
    if 'a' in z : #in 다음에 dictionary가 올 경우 key값 체크. (원래는 들어가는 내용 찾는거)
        print('aaa')
    return x,z

In [53]:
def moon_sun2(x,**z):
    if 'a' in z : #이런식으로 응용 가능!
        print(z[a])
    return x,z

In [54]:
def moon_sun3(x,**y,*z):
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-54-3d806d003ca9>, line 1)

In [56]:
def moon_sun3(x,*y,**z):
    return x,y,z #별표 두개가 항상 뒤쪽. 이게 더 예뻐서!

In [58]:
moon_sun3(1,213,325,45,a=2,b=3) #쓸때도 dictionary값 제일 뒤로 써줘야 함

(1, (213, 325, 45), {'a': 2, 'b': 3})

In [59]:
moon_sun(12,31,232,4,235,23,**{1:'3'}) # key값 숫자 안됨

TypeError: moon_sun() keywords must be strings

In [62]:
moon_sun3(12,y=[31,232,4,235,23],z={1:'3'})

(12, (), {'y': [31, 232, 4, 235, 23], 'z': {1: '3'}})

In [63]:
moon_sun3(12,[31,232,4,235,23],{1:'3'})

(12, ([31, 232, 4, 235, 23], {1: '3'}), {})

In [64]:
x={1:'a',2:'b'}
y={2:'c',3:'d'}

In [65]:
z ={**x} #별표 두개면 푸는거..

In [66]:
z

{1: 'a', 2: 'b'}

In [68]:
z={**x,**y}

In [69]:
z

{1: 'a', 2: 'c', 3: 'd'}

In [71]:
def type_check(z) :
    if type(x) in [list,tuple,range] :
        print("sequence")
    else :
        print("not sequence")

In [72]:
def type_check2(z) :
    if isintance(x,(list,tuple,range)) :
        print("sequence")
    else :
        print("not sequence")

In [73]:
def ex_1(x,y):
    return x,y

In [75]:
ex_1(0) #인자 두갠데 한개만 입력해서오류

TypeError: ex_1() missing 1 required positional argument: 'y'

In [76]:
def ex_2(x,**y):
    return x,y

In [77]:
ex_2(0,**{})

(0, {})

In [78]:
ex_2(0,**{'1':2,'2':3})

(0, {'1': 2, '2': 3})

In [79]:
a={1:'3',2:'3'}

In [81]:
ex_2(0,**{1:'3',2:'3'}) #key값이 숫자가 되면 안되는 거. key 값이 문자가 되면 에러 안뜸

TypeError: ex_2() keywords must be strings

In [82]:
def ex_3(x,*y) : #함수의 인자는 항상 풀어져서 들어가야 되기 때문에, 묶인 것의 경우는 앞에 반드시 *붙여야 함
    return x,y

In [85]:
ex_3(1,*[1,2,3,4,5])

(1, (1, 2, 3, 4, 5))

In [86]:
ex_3(1,[1,2,3,4,5])

(1, ([1, 2, 3, 4, 5],))

In [87]:
 a= {'a':1,'b':2, 'c':3}

In [89]:
for i in a :
    print(i) #in은 key만 체크함

a
b
c

In [90]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [91]:
a.values()

dict_values([1, 2, 3])

In [93]:
for i in a.values() :
    print(i)

1
2
3

In [94]:
for i in a.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [97]:
for i, j in a.items():
    print(j)
    print(i)

1
a
2
b
3
c

In [98]:
for i in a.keys():
    print(i)

a
b
c

In [99]:
for i in a :
    print(a[i])

1
2
3

In [101]:
from collections import OrderedDict #얘는 순서가있는 dictionary

#### First class citizen

- 값으로 사용할 수 있는 모든거 할 수 있는애
- 함수 인자로 들어갈 수 있음
- 함수가 이럴 경우 first class function이라고 함 // 자바의 경우는 second class function이라고 함 간혹 안되는거 있어서
- high order function : 함수를 return 하거나 함수를 argument로 받을 수 있는 두가지 속성 
- first class function일 경우 무조건 high order function

#####  함수형 기법