##### 함수형 프로그래밍
- parameter로 mutable을 사용하지 않는다. 
- 함수형은 상태 체크를 하지 않기 때문에, mutable 사용하지 않음
-

In [112]:
def mutable(x,y=[]):
    y.append(x)
    return y

In [113]:
a= mutable(1)

In [114]:
print(a)

[1]

In [110]:
b = mutable(2)

In [111]:
b # 즉 위에서 y값이 변해버린거.

[1, 2]

In [1]:
import seaborn as sns

In [2]:
type(sns) # python의 경우 module 도 객체

module

In [3]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [4]:
data = sns.load_dataset("tips")

In [5]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
dir(data)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

- 파이썬은 접근제한자를 씀 ==> 이게 underbar 하나로 표현됨
- info,

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [7]:
type(data) #얘도 객체

pandas.core.frame.DataFrame

In [9]:
data.describe() #평균내줌

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [10]:
data.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [11]:
import inspect

In [13]:
inspect.getsource(sns.load_dataset)

'def load_dataset(name, cache=True, data_home=None, **kws):\n    """Load a dataset from the online repository (requires internet).\n\n    Parameters\n    ----------\n    name : str\n        Name of the dataset (`name`.csv on\n        https://github.com/mwaskom/seaborn-data).  You can obtain list of\n        available datasets using :func:`get_dataset_names`\n    cache : boolean, optional\n        If True, then cache data locally and use the cache on subsequent calls\n    data_home : string, optional\n        The directory in which to cache data. By default, uses ~/seaborn-data/\n    kws : dict, optional\n        Passed to pandas.read_csv\n\n    """\n    path = ("https://raw.githubusercontent.com/"\n            "mwaskom/seaborn-data/master/{}.csv")\n    full_path = path.format(name)\n\n    if cache:\n        cache_path = os.path.join(get_data_home(data_home),\n                                  os.path.basename(full_path))\n        if not os.path.exists(cache_path):\n            urlretrieve(full_path, cache_path)\n        full_path = cache_path\n\n    df = pd.read_csv(full_path, **kws)\n    if df.iloc[-1].isnull().all():\n        df = df.iloc[:-1]\n\n    if not pandas_has_categoricals:\n        return df\n\n    # Set some columns as a categorical type with ordered levels\n\n    if name == "tips":\n        df["day"] = pd.Categorical(df["day"], ["Thur", "Fri", "Sat", "Sun"])\n        df["sex"] = pd.Categorical(df["sex"], ["Male", "Female"])\n        df["time"] = pd.Categorical(df["time"], ["Lunch", "Dinner"])\n        df["smoker"] = pd.Categorical(df["smoker"], ["Yes", "No"])\n\n    if name == "flights":\n        df["month"] = pd.Categorical(df["month"], df.month.unique())\n\n    if name == "exercise":\n        df["time"] = pd.Categorical(df["time"], ["1 min", "15 min", "30 min"])\n        df["kind"] = pd.Categorical(df["kind"], ["rest", "walking", "running"])\n        df["diet"] = pd.Categorical(df["diet"], ["no fat", "low fat"])\n\n    if name == "titanic":\n        df["class"] = pd.Categorical(df["class"], ["First", "Second", "Third"])\n        df["deck"] = pd.Categorical(df["deck"], list("ABCDEFG"))\n\n    return df\n'

In [14]:
a=[]
for i in range(1,11) : #이때 i 값이 10으로 저장됨. 이거 문제할 수 있음 : local scope가 global scope로 전이 된것.
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
 [x for x in range(1,11)] #함수형 프로그래밍 => 이런 방식으로 루프를 간결하게 하는 것.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
[x for x in range(1,11) if x %2 == 0]

[2, 4, 6, 8, 10]

In [18]:
{x for x in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
(x for x in range(1,11)) # 튜플의 경우는 특수.

In [22]:
[a for a in x for x in range(1,11)] # 이런식으로 해서 중첩도 가능한데 자세한 방법은 나중에, 근데 중첩은 권장되지 않음

NameError: name 'x' is not defined

In [23]:
[range(1,11)]

[range(1, 11)]

In [25]:
list(range(1,11)) #f(g(X))의 형태임  : 함수형 프로그래밍

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
'문근영'.replace('영','영은예쁘다').replace('다','다다') #이런식으로  프로그래밍 함. 이런거는 immutable하게 해서 side effect 안생기는거

'문근영은예쁘다다'

- map  : 어떤 함수 형태로 mapping 시켜주는 것. iterable한 값이 들어갈 수 있음 : string, set, tuple, list 다 됨
- filter : 함수 값의 return이 true인 것만 리턴해주는 것
- reduce

In [29]:
sum(list(range(1,11))) #함수형 프로그래밍

55

In [35]:
list(map(lambda x:x+2,(1,2)))

[3, 4]

In [37]:
(1,2,3) +(2,)

(1, 2, 3, 2)

In [38]:
def add_two(x):
    return x+2

In [39]:
map(add_two,{1,2,3})

In [42]:
list(filter(lambda x:x>3,[1,2,3,4,5,6]))

[4, 5, 6]

In [43]:
from functools import reduce

In [44]:
all(["",[],(),{}]) #전부 참일때만 true

False

In [49]:
all("")

True

In [47]:
all([()])

False

In [50]:
sorted([1,3,2])

[1, 2, 3]

In [52]:
sorted(['A','a'], key = str.upper)

['A', 'a']

In [63]:
a = enumerate([1,2.3])

In [54]:
a

In [55]:
b = (x for x in range(10))

In [56]:
b #결과 값이 꺽쇠로 나올 경우 주의

In [60]:
def a () :
    return [1,2,3,4,5]

In [61]:
for a in a():
    print(a)

1
2
3
4
5

In [64]:
dir(a)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [65]:
#메모리에 올리면 실행속도 빠름 . range는 속도는 조금 느리지만 메모리에 여유 있음

In [66]:
for i,j in enumerate(range(11)): #enumerate는 iterable인자 들어오면 index 생성해주는것
    print(i,j)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [68]:
for i,j in enumerate(range(11),1): #enumerate는 iterable인자 들어오면 index 생성해주는것, 뒤에 숫자 입력해서 어디서 부터 시작할지 입력가능
    print(i,j)

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7
9 8
10 9
11 10

In [69]:
for i in map(lambda x : x+1 , range(10)):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
a=3
b=4 if a>1 else 0

In [71]:
c=[x for x in range(10) if x >5]

In [73]:
d = [x if x >5 else " "for x in range(10)  ]

In [74]:
d

[' ', ' ', ' ', ' ', ' ', ' ', 6, 7, 8, 9]

In [83]:
for i in range(2,10) :
    for j in range(1,10):
        print( "%d * %d = %d " % (i, j, (i*j)))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [84]:
e = [(x, a) for a in range(10) for x in range(10,20)] # 뒤에서 부터 돔

In [98]:
 f= [(a,'*',x,x*a) for a in range(1,10) for x in range(2,10)  if (x*a)%2 !=0]

In [99]:
e

[(10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (18, 0),
 (19, 0),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (10, 2),
 (11, 2),
 (12, 2),
 (13, 2),
 (14, 2),
 (15, 2),
 (16, 2),
 (17, 2),
 (18, 2),
 (19, 2),
 (10, 3),
 (11, 3),
 (12, 3),
 (13, 3),
 (14, 3),
 (15, 3),
 (16, 3),
 (17, 3),
 (18, 3),
 (19, 3),
 (10, 4),
 (11, 4),
 (12, 4),
 (13, 4),
 (14, 4),
 (15, 4),
 (16, 4),
 (17, 4),
 (18, 4),
 (19, 4),
 (10, 5),
 (11, 5),
 (12, 5),
 (13, 5),
 (14, 5),
 (15, 5),
 (16, 5),
 (17, 5),
 (18, 5),
 (19, 5),
 (10, 6),
 (11, 6),
 (12, 6),
 (13, 6),
 (14, 6),
 (15, 6),
 (16, 6),
 (17, 6),
 (18, 6),
 (19, 6),
 (10, 7),
 (11, 7),
 (12, 7),
 (13, 7),
 (14, 7),
 (15, 7),
 (16, 7),
 (17, 7),
 (18, 7),
 (19, 7),
 (10, 8),
 (11, 8),
 (12, 8),
 (13, 8),
 (14, 8),
 (15, 8),
 (16, 8),
 (17, 8),
 (18, 8),
 (19, 8),
 (10, 9),
 (11, 9),
 (12, 9),
 (13, 9),
 (14, 9),
 (15, 9),
 (16, 9),
 (17, 9),
 (18, 9),
 (19, 9)]

In [100]:
f

[(1, '*', 3, 3),
 (1, '*', 5, 5),
 (1, '*', 7, 7),
 (1, '*', 9, 9),
 (3, '*', 3, 9),
 (3, '*', 5, 15),
 (3, '*', 7, 21),
 (3, '*', 9, 27),
 (5, '*', 3, 15),
 (5, '*', 5, 25),
 (5, '*', 7, 35),
 (5, '*', 9, 45),
 (7, '*', 3, 21),
 (7, '*', 5, 35),
 (7, '*', 7, 49),
 (7, '*', 9, 63),
 (9, '*', 3, 27),
 (9, '*', 5, 45),
 (9, '*', 7, 63),
 (9, '*', 9, 81)]

In [115]:
import time

In [116]:
time.time()

1530770591.3059468

In [117]:
def time_at(time=time.time()):
    return time # default 값으로 mutable한거 넣지 마. 무조건 원하지 않는 결과 나옴

In [122]:
time_at()

1530770611.5010834

In [123]:
time_at()

1530770611.5010834

In [124]:
time_at() # 항상 같은 시간 나옴 : parameter는 처음 생성된 값으로 값이 고정. 그래서 안 변함

1530770611.5010834

In [125]:
def moon(self=None):
    return self

In [126]:
moon()

In [127]:
moon(1)

1

예외적으로 함수 본체에 인자를 넣는 경우

In [138]:
x =1 
y= 3
def a():
    x=2
    x+=3 # 여기서 global 도입가능
    print("---",x)
    print("y", y)
    return x # def 안에서는 def안의 값이 가장 우선 이 때문에 2 나옴. y와 같이 없을 때는 바깥의 값 참조 
print(a())
print(x) #scope의 문제임. 값들은 생존하는 범위를 가지고 있고, 이 범위를 scope라고 함 
# 함수형 프로그래밍에서는 함수 안에 새로 할당하지 말라고 이야기함. 그러나 함수형 프로그래밍만 하기 어렵기 때문에, 그냥 진행!

--- 5
y 3
5
1

In [141]:
x =1 
y= 3
def a():
    global x
    x+=3 # 여기서 global 도입가능
    print("---",x)
    print("y", y)
    return x # def 안에서는 def안의 값이 가장 우선 이 때문에 2 나옴. y와 같이 없을 때는 바깥의 값 참조 
print(a())
print(x) #글로벌 사용했기 때문에 전체 값이 바뀐거. 함수 안에서 함수 밖에 값을 바꾸는 것 : global

--- 4
y 3
4
4

In [142]:
import keyword

### Scope

- Local
- Enclosing
- Global
- Built-in

In [132]:
x

1

In [143]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [144]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

global의 반대로 nonlocal이라는 애가 있음

In [151]:

x =1 
y= 3
def a():
    def b():
        return x
    return b
print(a()()) #java script에도 존재
print(x)

1
1

In [152]:
x =1 
y= 3
def a():
    def b():
        global x
        return x
    return b
print(a()()) #java script에도 존재
print(x)

1
1

In [153]:
x =1 
y= 3
def a():
    def b():
        x=2
        return x
    return b
print(a()()) #java script에도 존재
print(x)

2
1

In [156]:
x =1 
y= 3
def a():
    def b():
        nonlocal x # 함수안에 함수 들어있을 때 안에 함수에서 바깥 함수의 인자 바꿔주는 거 
        return x
    global x
    return b
print(a()()) #java script에도 존재
print(x)

SyntaxError: no binding for nonlocal 'x' found (<ipython-input-156-dbdd001c8dfc>, line 5)

- 안에 들어있는 함수는 밖에서 부를 수 없음
- 이름을 명백하게 써주면 쉬움