In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(":memory:")

In [3]:
cur=conn.cursor()

In [12]:
cur.executescript(
    
    
    """
         CREATE TABLE Artist (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT
        );

         CREATE TABLE Genre (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT
        );

         CREATE TABLE Album (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER
     );
     
         
     
    """
)

In [15]:
cur.executescript(
    """
        insert into Artist (name) values ("a");
        insert into Artist (name) values ("b");
    """
)

cur.execute("select * from artist")

In [26]:
print(cur.fetchall())

[(1, 'Led zopplin'), (2, 'AC/DC')]

In [21]:
artist=cur.fetchall()

In [28]:
type(artist)

list

In [29]:
for id_ in artist :
    print(id_)

(1, 'Led zopplin')
(2, 'AC/DC')

In [24]:
cur.executescript(
    """
        drop table Track;
        create table Track(
            id integer primary key,
            title text,
            album_id integer,
            genere_id integer
                       
        );
    """
)

In [25]:
cur.executescript(
    """
        insert into album (title, artist_id) values("iv",1);
        insert into album (title, artist_id) values("who made who",2);
        
        insert into track (title, album_id, genere_id) values('Black dog', 1, 1);
        insert into track (title, album_id, genere_id) values('Black cat', 2, 2);
    """
)

In [43]:
cur.execute("select * from artist cross join album")

CROSS JOIN 절은 조인되는 두 테이블에서 곱집합을 반환한다. 즉, 두 번째 테이블로부터 각 행과 첫 번째 테이블에서 각 행이 한번씩 결합된 열을 만들 것이다. 예를 들어 m행을 가진 테이블과 n행을 가진 테이블이 교차 조인되면 m*n 개의 행을 생성한다.[1]

교차 조인의 명시적 예는 다음과 같다:

In [27]:
for row in cur.fetchall():
    print(row) ## 말없이 참조하면 이런식으로 계속 cross join 되서 늘어나는 거임. 그래서 얘들을 하나당 하나씩만 겹치게 해줘야함.

(1, 'a', 1, 'iv', 1)
(1, 'a', 2, 'who made who', 2)
(1, 'a', 3, 'iv', 1)
(1, 'a', 4, 'who made who', 2)
(1, 'a', 5, 'iv', 1)
(1, 'a', 6, 'who made who', 2)
(2, 'a', 1, 'iv', 1)
(2, 'a', 2, 'who made who', 2)
(2, 'a', 3, 'iv', 1)
(2, 'a', 4, 'who made who', 2)
(2, 'a', 5, 'iv', 1)
(2, 'a', 6, 'who made who', 2)
(3, 'b', 1, 'iv', 1)
(3, 'b', 2, 'who made who', 2)
(3, 'b', 3, 'iv', 1)
(3, 'b', 4, 'who made who', 2)
(3, 'b', 5, 'iv', 1)
(3, 'b', 6, 'who made who', 2)

내부 조인(inner join)은 여러 애플리케이션에서 사용되는 가장 흔한 결합 방식이며, 기본 조인 형식으로 간주된다. 내부 조인은 조인 구문에 기반한 2개의 테이블(A, B)의 컬럼 값을 결합함으로써 새로운 결과 테이블을 생성한다.

In [28]:
#inner join - 교집합을 찾아내는 것

cur.execute("select * from album join track on album.id = track.album_id")

In [29]:
for row in cur.fetchall():
    print(row)

(1, 'iv', 1, 1, 'Black dog', 1, 1)
(2, 'who made who', 2, 2, 'Black cat', 2, 2)

In [41]:
cur.execute("select * from track join album join genre join artist on track.album_id = album.id and track.genere_id = genre.id and album.artist_id= artist.id")

In [42]:
with open ("test.dump","w") as f:
    for line in conn.iterdump():
        f.write("'%s\n" % line)

In [44]:
#left join과 right join은 채울 대상이 없을 경우, null을 채운다.