In [1]:
import sqlite3

In [2]:
import sqlalchemy

In [3]:
from sqlalchemy import *

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("sqlite://",echo = True)

In [6]:
from sqlalchemy.ext.declarative import declarative_base

In [7]:
Base = declarative_base()

In [8]:
from sqlalchemy import all_

In [9]:
class User(Base):
    __tablename__ = "user"
    
    id = Column(Integer, primary_key = True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd",String)

In [10]:
User.__table__

Table('user', MetaData(bind=None), Column('id', Integer(), table=<user>, primary_key=True, nullable=False), Column('name', String(), table=<user>), Column('fullname', String(), table=<user>), Column('passwd', String(), table=<user>), schema=None)

In [11]:
Base.metadata.create_all(engine)

2018-07-10 17:23:13,565 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:23:13,572 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:23:13,576 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:23:13,579 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:23:13,586 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2018-07-10 17:23:13,588 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:23:13,593 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:23:13,594 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:23:13,596 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
Kim = User(name = "kin", fullname = "anonymous, kim", password = "kimbap heaven")
print(Kim)
print(Kim.id)

<__main__.User object at 0x00000271EEB41B00>
None

In [13]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [15]:
session.add(Kim)

In [16]:
session. add_all([
    User(name="lee",fullname="unknown, Lee", password = "123456789")
])

In [17]:
session

In [18]:
session.dirty

IdentitySet([])

In [19]:
Kim.password = "password"

In [20]:
session.dirty

IdentitySet([])

In [21]:
session.is_modified(Kim)

True

In [22]:
session.commit()

2018-07-10 17:26:25,075 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:26:25,079 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname, passwd) VALUES (?, ?, ?)
2018-07-10 17:26:25,081 INFO sqlalchemy.engine.base.Engine ('kin', 'anonymous, kim', 'password')
2018-07-10 17:26:25,084 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname, passwd) VALUES (?, ?, ?)
2018-07-10 17:26:25,086 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown, Lee', '123456789')
2018-07-10 17:26:25,088 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
for row in session.query(User):
    print(type(row))
    print(row.id, row.name, row.fullname, row.password)

2018-07-10 17:27:10,160 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:27:10,163 INFO sqlalchemy.engine.base.Engine SELECT user.passwd AS user_passwd, user.id AS user_id, user.name AS user_name, user.fullname AS user_fullname
FROM user
2018-07-10 17:27:10,164 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kin anonymous, kim password
<class '__main__.User'>
2 lee unknown, Lee 123456789

In [24]:
for row in session.query(User.id, User.fullname).filter(User.name == "lee"):
    print(type(row))
    print(row.id, row.fullname)

2018-07-10 17:32:30,195 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.fullname AS user_fullname
FROM user
WHERE user.name = ?
2018-07-10 17:32:30,197 INFO sqlalchemy.engine.base.Engine ('lee',)
<class 'sqlalchemy.util._collections.result'>
2 unknown, Lee