In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
sqlite3.sqlite_version

'3.21.0'

In [5]:
conn = sqlite3.connect(':memory:') #데이터 베이스 연결(생성)

In [6]:
conn

In [7]:
cur = conn.cursor()

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [10]:
cur.execute("create table people (name_last,age)")

In [11]:
who  = "Yelstin"
age = 72

In [16]:
cur.execute("insert into people values(?,?)",(who,age)) #qmark style

In [17]:
print(cur.fetchone())

None

In [18]:
cur.execute("select * from people where name_last=:who and age=:age",{"who":who, "age": age})

In [19]:
print(cur.fetchone())

('Yelstin', 72)

In [26]:
sql = "insert into people values (?,?)"
curData = [('A',1),('B',2),('C',3)]
cur.executemany(sql, curData) #알아서 반복해서 해주는 애

In [27]:
cur.executescript(

"""
    create table person(
    first_name text primary key, 
    last_name text not null);
    
    insert into person values('name','kim')
""")

In [28]:
cur.execute('select * from person')

In [29]:
print(cur.fetchall())

[('name', 'kim')]

In [30]:
cur.execute('select * from people')

In [31]:
print(cur.fetchall())

[('Yelstin', 72), ('A', 1), ('A', 1), ('A', 1), ('B', 2), ('C', 3), ('A', 1), ('B', 2), ('C', 3)]

In [32]:
conn.close()

In [34]:
conn = sqlite3.connect("test.db") #db생성
print("Opened database successfully")

Opened database successfully

In [38]:
conn.execute("""
CREATE TABLE COMPANY(
    ID INT PRIMARY KEY NOT NULL,
    NAME           TEXT NOT NULL,
    AGE            INT NOT NULL,
    ADDRESS        CHAR(50),
    SALARY         REAL
)""")

In [36]:
print("Table created successfully")

Table created successfully

In [37]:
conn.execute('drop table company')

In [46]:
conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)\
VALUES(1,'paul', 32, 'California',20000.00)");

In [47]:
conn.execute("INSERT INTO COMPANY(ID, NAME, AGE, ADDRESS, SALARY)\
VALUES (:id, :name, :age, :address, :salary)",{
    'id':2, 'name':'Allen','age':25, 'address': 'Texas','salary':15000.00
})

In [50]:
data = [(3, 'Teddy',23, 'Norway', 20000.00),
       (4, 'Mark', 25, 'Rich-Mond', 650000.00)]
conn.executemany("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)\
Values(?,?,?,?,?)",data);

In [52]:
conn.executescript("""
INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)
VALUES(5, 'Mark1',25, 'Rich-Mond',6500.00);
INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)
VALUES(6, 'Mark2',25, 'Rich-Mond',6500.00);""")

conn.commit() #execute script의 경우는 여러개의 sql문을 동시에 실행하려면 데이터가 충돌 할 수도 있기 때문에, pending 상태에서 있음. 그래서 여기서 pending 상태 풀고 실행하라고 commit사용 하는거임

In [58]:
cursor = conn.execute("SELECT id, name ,address, salary from COMPANY")

In [54]:
type(cursor) #fetch안붙여도 가져올 수 있음

sqlite3.Cursor

In [55]:
for row in cursor :
    print(type(row),row)

<class 'tuple'> (1, 'paul', 'California', 20000.0)
<class 'tuple'> (2, 'Allen', 'Texas', 15000.0)
<class 'tuple'> (3, 'Teddy', 'Norway', 20000.0)
<class 'tuple'> (4, 'Mark', 'Rich-Mond', 650000.0)
<class 'tuple'> (5, 'Mark1', 'Rich-Mond', 6500.0)
<class 'tuple'> (6, 'Mark2', 'Rich-Mond', 6500.0)

In [59]:
for row in cursor :
    print( " ID = ", row[0])
    print(" NAME = ", row[1])
    print(" ADDRESS = ", row[2])
    print("SALARY =", row[3], end = '\n\n')

 ID =  1
 NAME =  paul
 ADDRESS =  California
SALARY = 20000.0

 ID =  2
 NAME =  Allen
 ADDRESS =  Texas
SALARY = 15000.0

 ID =  3
 NAME =  Teddy
 ADDRESS =  Norway
SALARY = 20000.0

 ID =  4
 NAME =  Mark
 ADDRESS =  Rich-Mond
SALARY = 650000.0

 ID =  5
 NAME =  Mark1
 ADDRESS =  Rich-Mond
SALARY = 6500.0

 ID =  6
 NAME =  Mark2
 ADDRESS =  Rich-Mond
SALARY = 6500.0

In [61]:
cid =1 
conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID=:id",{'id':cid})
conn.commit() #데이터가 변경될 때 commit하면 되고, select 문 다시하면 commit 안하고도 transaction 끝냄.

In [62]:
cursor = conn.execute("SELECT * from COMPANY")

In [63]:
for row in cursor :
    print(row)

(1, 'paul', 32, 'California', 25000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond', 650000.0)
(5, 'Mark1', 25, 'Rich-Mond', 6500.0)
(6, 'Mark2', 25, 'Rich-Mond', 6500.0)

In [64]:
conn.execute("DELETE from COMPANY where ID = 2")

In [65]:
cursor = conn.execute ("SELECT * from COMPANY")

for row in cursor :
    print(row)

(1, 'paul', 32, 'California', 25000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond', 650000.0)
(5, 'Mark1', 25, 'Rich-Mond', 6500.0)
(6, 'Mark2', 25, 'Rich-Mond', 6500.0)