In [1]:
!pip list

alabaster (0.7.10)
anaconda-client (1.6.9)
anaconda-navigator (1.7.0)
anaconda-project (0.8.2)
asn1crypto (0.24.0)
astroid (1.6.1)
astropy (2.0.3)
attrs (17.4.0)
Babel (2.5.3)
backports.shutil-get-terminal-size (1.0.0)
beautifulsoup4 (4.6.0)
bitarray (0.8.1)
bkcharts (0.2)
blaze (0.11.3)
bleach (2.1.2)
bokeh (0.12.13)
boto (2.48.0)
Bottleneck (1.2.1)
certifi (2018.1.18)
cffi (1.11.4)
chardet (3.0.4)
click (6.7)
cloudpickle (0.5.2)
clyent (1.2.2)
colorama (0.3.9)
comtypes (1.1.4)
conda (4.4.10)
conda-build (3.4.1)
conda-verify (2.0.0)
contextlib2 (0.5.5)
cryptography (2.1.4)
cycler (0.10.0)
Cython (0.27.3)
cytoolz (0.9.0)
dask (0.16.1)
datashape (0.5.4)
decorator (4.2.1)
distributed (1.20.2)
docutils (0.14)
entrypoints (0.2.3)
et-xmlfile (1.0.1)
fastcache (1.0.2)
filelock (2.0.13)
Flask (0.12.2)
Flask-Cors (3.0.3)
gevent (1.2.2)
glob2 (0.6)
greenlet (0.4.12)
h5py (2.7.1)
heapdict (1.0.0)
html5lib (1.0.1)
idna (2.6)
imageio (2.2.0)
imagesize (0.7.1)
ipython (6.2.1)
ipython-genutils (0.2.0)
ipywidgets (7.1.1)
isort (4.2.15)
itsdangerous (0.24)
jdcal (1.3)
jedi (0.11.1)
Jinja2 (2.10)
jsonschema (2.6.0)
jupyter (1.0.0)
jupyter-client (5.2.2)
jupyter-console (5.2.0)
jupyter-core (4.4.0)
jupyterlab (0.31.4)
jupyterlab-launcher (0.10.2)
lazy-object-proxy (1.3.1)
llvmlite (0.21.0)
locket (0.2.0)
lxml (4.1.1)
MarkupSafe (1.0)
matplotlib (2.1.2)
mccabe (0.6.1)
menuinst (1.4.11)
mistune (0.8.3)
mpmath (1.0.0)
msgpack-python (0.5.1)
multipledispatch (0.4.9)
navigator-updater (0.1.0)
nbconvert (5.3.1)
nbformat (4.4.0)
networkx (2.1)
nltk (3.2.5)
nose (1.3.7)
notebook (5.4.0)
numba (0.36.2)
numexpr (2.6.4)
numpy (1.14.0)
numpydoc (0.7.0)
odo (0.5.1)
olefile (0.45.1)
openpyxl (2.4.10)
packaging (16.8)
pandas (0.22.0)
pandocfilters (1.4.2)
parso (0.1.1)
partd (0.3.8)
path.py (10.5)
pathlib2 (2.3.0)
patsy (0.5.0)
pep8 (1.7.1)
pickleshare (0.7.4)
Pillow (5.0.0)
pip (9.0.1)
pkginfo (1.4.1)
pluggy (0.6.0)
ply (3.10)
prompt-toolkit (1.0.15)
psutil (5.4.3)
py (1.5.2)
pycodestyle (2.3.1)
pycosat (0.6.3)
pycparser (2.18)
pycrypto (2.6.1)
pycurl (7.43.0.1)
pyflakes (1.6.0)
Pygments (2.2.0)
pylint (1.8.2)
pyodbc (4.0.22)
pyOpenSSL (17.5.0)
pyparsing (2.2.0)
PySocks (1.6.7)
pytest (3.3.2)
python-dateutil (2.6.1)
pytz (2017.3)
PyWavelets (0.5.2)
pywin32 (222)
pywinpty (0.5)
PyYAML (3.12)
pyzmq (16.0.3)
QtAwesome (0.4.4)
qtconsole (4.3.1)
QtPy (1.3.1)
requests (2.18.4)
rope (0.10.7)
ruamel-yaml (0.15.35)
scikit-image (0.13.1)
scikit-learn (0.19.1)
scipy (1.0.0)
seaborn (0.8.1)
Send2Trash (1.4.2)
setuptools (38.4.0)
simplegeneric (0.8.1)
singledispatch (3.4.0.3)
six (1.11.0)
snowballstemmer (1.2.1)
sortedcollections (0.5.3)
sortedcontainers (1.5.9)
Sphinx (1.6.6)
sphinxcontrib-websupport (1.0.1)
spyder (3.2.6)
SQLAlchemy (1.2.1)
statsmodels (0.8.0)
sympy (1.1.1)
tables (3.4.2)
tblib (1.3.2)
terminado (0.8.1)
testpath (0.3.1)
toolz (0.9.0)
tornado (4.5.3)
traitlets (4.3.2)
typing (3.6.2)
unicodecsv (0.14.1)
urllib3 (1.22)
wcwidth (0.1.7)
webencodings (0.5.1)
Werkzeug (0.14.1)
wheel (0.30.0)
widgetsnbextension (3.1.0)
win-inet-pton (1.0.1)
win-unicode-console (0.5)
wincertstore (0.2)
wrapt (1.10.11)
xlrd (1.1.0)
XlsxWriter (1.0.2)
xlwings (0.11.5)
xlwt (1.3.0)
zict (0.1.3)

DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import sqlalchemy

In [3]:
sqlalchemy.__version__

'1.2.1'

In [4]:
pip install --upgrade sqlalchemy

The following command must be run outside of the IPython shell:

    $ pip install --upgrade sqlalchemy

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine("sqlite://", echo = True)

- The echo flag is a shortcut to setting up SQLAlchemy logging, which is accomplished via Python’s standard logging module. With it enabled, we’ll see all the generated SQL produced. If you are working through this tutorial and want less output generated, set it to False

- The return value of create_engine() is an instance of Engine, and it represents the core interface to the database, adapted through a dialect that handles the details of the database and DBAPI in use

- When using the ORM, we typically don’t use the Engine directly once created; instead, it’s used behind the scenes by the ORM as we’ll see shortly.

In [7]:
from sqlalchemy import MetaData

- metadata : With our User class constructed via the Declarative system, we have defined information about our table, known as table metadata.

In [8]:
metadata = MetaData()

In [9]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [10]:
metadata  = MetaData()

In [11]:
users = Table ('users', metadata,
              Column('id', Integer, primary_key = True),
              Column('name', String),
              Column('fullname',String),
              )
addresses = Table ('addresses',metadata, 
                  Column('id', Integer, primary_key= True),
                  Column('user_id', None,ForeignKey('users.id')),
                  Column('email_address',String,nullable = False))

In [12]:
metadata.create_all(engine)

2018-07-10 16:20:41,024 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:20:41,025 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,032 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:20:41,036 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,042 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 16:20:41,043 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,046 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 16:20:41,048 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,051 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 16:20:41,053 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,055 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,057 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-10 16:20:41,059 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,062 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
insert = users.insert()
print (insert)

insert = users.insert().values(name = 'kim', fullname = "Anonymous kin")
print (insert)

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [14]:
insert.compile().params #

{'fullname': 'Anonymous kin', 'name': 'kim'}

In [15]:
insert.bind = engine # 엔진과 insert 바인드

In [16]:
conn = engine.connect() #엔진연결

In [17]:
result = conn.execute(insert) # 실제로 커넥터를 통해서 sqllite로 넘어간거

2018-07-10 16:20:41,150 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 16:20:41,151 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous kin')
2018-07-10 16:20:41,153 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
result.inserted_primary_key

[1]

In [19]:
print(result.inserted_primary_key)

[1]

In [20]:
conn.execute(addresses.insert(),[
    {"user-id":1, "email_address":"anonymous.kim@test.com"}
])

2018-07-10 16:20:41,207 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (email_address) VALUES (?)
2018-07-10 16:20:41,208 INFO sqlalchemy.engine.base.Engine ('anonymous.kim@test.com',)
2018-07-10 16:20:41,210 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
from sqlalchemy.sql import select

In [22]:
query = select([users])
result = conn.execute(query)

for row in result :
    print(row)

2018-07-10 16:20:41,248 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 16:20:41,257 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous kin')

In [23]:
result = conn. execute(select([users.c.name, users.c.fullname]))

2018-07-10 16:20:41,285 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-10 16:20:41,287 INFO sqlalchemy.engine.base.Engine ()

In [24]:
for row in result :
    print(row)

('kim', 'Anonymous kin')

In [25]:
from sqlalchemy import and_,or_,not_

In [26]:
print(users.c.id == addresses.c.user_id)

users.id = addresses.user_id

In [27]:
artist = Table("Artist", metadata,
              Column("id", Integer, primary_key = True),
              Column("name",String, nullable = False),
              extend_existing  = True)
album = Table("Album", metadata,
              Column("id", Integer, primary_key = True),
              Column("name",String, nullable = False),
              Column("artist_id",Integer, ForeignKey("Artist.id")),
              extend_existing  = True)
genre = Table("Genre", metadata,
              Column("id", Integer, primary_key = True),
              Column("name",String, nullable = False),
              extend_existing  = True)
Track = Table("Track", metadata,
              Column("id", Integer, primary_key = True),
              Column("title",String, nullable = False),
              Column("length",String, nullable = False),
              Column("rating",String, nullable = False),
              Column("count",String, nullable = False),
              Column("album_id",Integer, ForeignKey("Album.id")),
              Column("genre_id",Integer, ForeignKey("Genre.id")),
              extend_existing  = True)

metadata.create_all(engine)

2018-07-10 16:20:41,373 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 16:20:41,375 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,377 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 16:20:41,379 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,381 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:20:41,383 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,384 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:20:41,386 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,388 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:20:41,397 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,399 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:20:41,400 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,402 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:20:41,404 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,406 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,407 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:20:41,409 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,413 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,415 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 16:20:41,420 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,423 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,426 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length VARCHAR NOT NULL,
	rating VARCHAR NOT NULL,
	count VARCHAR NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 16:20:41,428 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:20:41,432 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
tables = metadata.tables
for table in tables :
    print(tables)

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('name', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', String(), table=<Track>, nullable=False), Column('rating', String(), table=<Track>, nullable=False), Column('count', String(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})
immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('name', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', String(), table=<Track>, nullable=False), Column('rating', String(), table=<Track>, nullable=False), Column('count', String(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})
immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('name', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', String(), table=<Track>, nullable=False), Column('rating', String(), table=<Track>, nullable=False), Column('count', String(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})
immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('name', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', String(), table=<Track>, nullable=False), Column('rating', String(), table=<Track>, nullable=False), Column('count', String(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})
immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('name', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', String(), table=<Track>, nullable=False), Column('rating', String(), table=<Track>, nullable=False), Column('count', String(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})
immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('name', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', String(), table=<Track>, nullable=False), Column('rating', String(), table=<Track>, nullable=False), Column('count', String(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [29]:
from sqlalchemy import table

In [30]:
for table in engine.table_names():
    print(table)
    print(Track)

2018-07-10 16:20:41,515 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:20:41,519 INFO sqlalchemy.engine.base.Engine ()
Album
Track
Artist
Track
Genre
Track
Track
Track
addresses
Track
users
Track

In [31]:
conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {"name" : "AC/DC"}
])

conn.execute(album.insert(),[
    {"name":"IV","aritist_id":1},
    {"name":"Who Made Who","aritist_id":2}
])

conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name" : "Metal"}
])

conn.execute(Track.insert(),[
    {"title":"Black Dog", "rating": 5,"length":297, "count":0,"album_id":1,"genre_id":1},
    {"title":"stairway", "rating": 5,"length":487, "count":0,"album_id":1,"genre_id":1},
    {"title":"About to Rock", "rating": 5,"length":317, "count":0,"album_id":2,"genre_id":2},
    {"title":"who made who", "rating": 5,"length":297, "count":0,"album_id":2,"genre_id":2}

])

2018-07-10 16:20:41,588 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 16:20:41,589 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 16:20:41,593 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,597 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (name) VALUES (?)
2018-07-10 16:20:41,598 INFO sqlalchemy.engine.base.Engine (('IV',), ('Who Made Who',))
2018-07-10 16:20:41,601 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,604 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 16:20:41,606 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 16:20:41,608 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:20:41,611 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 16:20:41,613 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('stairway', 487, 5, 0, 1, 1), ('About to Rock', 317, 5, 0, 2, 2), ('who made who', 297, 5, 0, 2, 2))
2018-07-10 16:20:41,616 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
artistResult = conn.execute(artist.select())

2018-07-10 16:21:31,934 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 16:21:31,936 INFO sqlalchemy.engine.base.Engine ()

In [33]:
for row in artistResult :
    print(row)

(1, 'Led Zepplin')
(2, 'AC/DC')

In [35]:
trackResult = conn.execute(select([Track])
                           .where(
                                and_(Track.c.album_id == 1, Track.c.genre_id ==1)
                          ))
for row in trackResult:
    print(row)

2018-07-10 16:24:20,902 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND "Track".genre_id = ?
2018-07-10 16:24:20,904 INFO sqlalchemy.engine.base.Engine (1, 1)
(1, 'Black Dog', '297', '5', '0', 1, 1)
(2, 'stairway', '487', '5', '0', 1, 1)

In [39]:
from sqlalchemy import update

conn.execute(Track.update().values(genre_id=2).where(Track.c.id==2))
conn.execute(Track.update().values(genre_id=1).where(Track.c.id==3))

2018-07-10 16:47:45,603 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2018-07-10 16:47:45,603 INFO sqlalchemy.engine.base.Engine (2, 2)
2018-07-10 16:47:45,607 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:47:45,607 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2018-07-10 16:47:45,611 INFO sqlalchemy.engine.base.Engine (1, 3)
2018-07-10 16:47:45,611 INFO sqlalchemy.engine.base.Engine COMMIT

In [42]:
trackResult = conn.execute(select([Track])
                        .where(
                            and_(Track.c.album_id ==1,
                                or_(Track.c.genre_id ==1,
                                   Track.c.genre_id ==2,)
                                )
                        ))
                           
for row in trackResult:
        print(row)

2018-07-10 16:51:50,801 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2018-07-10 16:51:50,805 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', '297', '5', '0', 1, 1)
(2, 'stairway', '487', '5', '0', 1, 2)

In [46]:
print(Track.join(album))

result = conn.execute(Track
                     .select()
                     .select_from(Track.join(album)))
for row in result.fetchall():
    print(row)
result = conn.execute(Track
                     .select()
                     .select_from(Track.join(album))
                     .where(album.c.id == 1))
for row in result.fetchall():
    print(row)

"Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-10 16:55:25,645 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-10 16:55:25,649 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', '297', '5', '0', 1, 1)
(2, 'stairway', '487', '5', '0', 1, 2)
(3, 'About to Rock', '317', '5', '0', 2, 1)
(4, 'who made who', '297', '5', '0', 2, 2)
2018-07-10 16:55:25,653 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
WHERE "Album".id = ?
2018-07-10 16:55:25,653 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'Black Dog', '297', '5', '0', 1, 1)
(2, 'stairway', '487', '5', '0', 1, 2)